<header>
  <div class="toolbar" role="banner">
    <img width="50" alt="Logo Dente" src="assets/logodente.png"/>
    <span class="espacamentoEntrar"></span>

    <a routerLink="/home" routerLinkActive="active" style="text-decoration:none">Inicio</a>
    <div class="spacer"></div>
    <a routerLink="/agendamento" routerLinkActive="active" style="text-decoration:none">Agendamento</a>
    <div class="spacer"></div>
    <a routerLink="/contato" routerLinkActive="active" style="text-decoration:none">Contato</a>
    <div class="spacer"></div>
    <a routerLink="/sobre" routerLinkActive="active" style="text-decoration:none">Sobre</a>
    <div class="spacer"></div>
    <a routerLink="/localizacao" routerLinkActive="active" style="text-decoration:none">Como Chegar</a>
    <div class="spacer"></div>
    <a routerLink="/cadastro" routerLinkActive="active" style="text-decoration:none">Cadastros</a>

    <a class="espacamentoEntrar" routerLink="/login" routerLinkActive="active" style="text-decoration:none">Entrar</a>
  </div>
</header>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<main>
  <section class="principallogin">
    <p><strong>Contate-nos</strong></p>
    <br/>

    <p>Insira seu nome completo</p>
    <input class="contatoinput" type="text" placeholder="Seu nome" required>
    <p>Insira seu e-mail</p>
    <input class="contatoinput" type="email" placeholder="exemplo@email.com" required>
    <p>Insira sua mensagem</p>

    <textarea class="textinput" placeholder="Digite aqui sua mensagem" required></textarea>

    <br/>
    <br/>
    <input class="favorite styled" type="button" value="Enviar">


  </section>


</main>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>
