<header>
  <div class="toolbar" role="banner">
    <img width="50" alt="Logo Dente" src="assets/logodente.png"/>
    <span class="espacamentoEntrar"></span>

    <a routerLink="/home" routerLinkActive="active" style="text-decoration:none">Inicio</a>
    <div class="spacer"></div>
    <a routerLink="/agendamento" routerLinkActive="active" style="text-decoration:none">Agendamento</a>
    <div class="spacer"></div>
    <a routerLink="/sobre" routerLinkActive="active" style="text-decoration:none">Sobre</a>
    <div class="spacer"></div>
    <a routerLink="/localizacao" routerLinkActive="active" style="text-decoration:none">Como Chegar</a>
    <div class="spacer"></div>
    <a routerLink="/cadastro" routerLinkActive="active" style="text-decoration:none">Cadastre-se</a>

    <a class="espacamentoEntrar" routerLink="/login" routerLinkActive="active" style="text-decoration:none">Entrar</a>
  </div>
</header>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<main>
  <section class="principalsobre">
    <p><strong class="formatacaotitulo">Sobre</strong></p>
    <br/>
    <p class="formatacaotexto">A OdontoCompany tem orgulho em anunciar<br/>mais uma grande conquista: chegamos à milésima<br/>clínica odontológica no Brasil e somos<br/>a maior rede de clínicas odontológicas do Mundo !</p>
    <p class="formatacaotexto">Desde sua fundação em 1990, a OdontoCompany<br/>se destaca pelas mudanças de comportamento<br/>e conscientização quanto à necessidade de se manter<br/>uma correta saúde bucal, da frequência aos consultórios<br/>dentários para a prevenção e, sobretudo, pelos resultados<br/>obtidos no restabelecimento dos sorrisos dos pacientes.</p>
    <p class="formatacaotexto">Com mais de 30 anos de mercado, a marca é reconhecida<br/>com mais de 1.000 unidades em todo o Brasil pelo<br/>pioneirismo através de técnicas avançadas em Ortodontia,<br/>Dentística, Estética, Endodontia, Implantodontia e outros<br/>procedimentos que utilizam a mais alta tecnologia, com<br/>segurança e conforto, em todas as etapas de cada tratamento.</p>

    <img src="assets/cliente.png">
  </section>
</main>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>
