<header>
  <div class="toolbar" role="banner">
    <img width="50" alt="Logo Dente" src="assets/logodente.png"/>
    <span class="espacamentoEntrar"></span>

    <a routerLink="/home" routerLinkActive="active" style="text-decoration:none">Inicio</a>
    <div class="spacer"></div>
    <a routerLink="/agendamento" routerLinkActive="active" style="text-decoration:none">Agendamento</a>
    <div class="spacer"></div>
    <a routerLink="/sobre" routerLinkActive="active" style="text-decoration:none">Sobre</a>
    <div class="spacer"></div>
    <a routerLink="/localizacao" routerLinkActive="active" style="text-decoration:none">Como Chegar</a>
    <div class="spacer"></div>
    <a routerLink="/cadastro" routerLinkActive="active" style="text-decoration:none">Cadastros</a>

    <a class="espacamentoEntrar" routerLink="/login" routerLinkActive="active" style="text-decoration:none">Entrar</a>
  </div>
</header>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<main>
  <section class="principallocalizacao">
    <p><strong>Localização</strong></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.509706049676!2d-43.352074684512075!3d-21.7605255856065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989c9fbc53006f%3A0x9419fc152f994cfa!2sR.%20Mal.%20Deodoro%20-%20Centro%2C%20Juiz%20de%20Fora%20-%20MG!5e0!3m2!1spt-BR!2sbr!4v1637722943379!5m2!1spt-BR!2sbr" width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <p>Nossa clinica é localizada no Nº216 da Rua Marechal Deodoro, no Bairro Centro da Cidade de Juiz de Fora, proximo ao Parque Halfed.<br/><br/><strong>Venha conhecer nosso espaço !</strong></p>
  </section>
</main>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<router-outlet></router-outlet>
